body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  text-align: center;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

nav > a {
  margin: 1rem;
}

nav > span > a {
  margin: 1rem;
}

* {
  color: black;
}

.bookLink {
  text-decoration: none;
  color: rgb(35, 35, 204);
  display: block;
  margin: 8px auto;
  padding: 10px;
  width: 60%;
  border: 1px solid white;
  border-radius: 6px;
  font-size: 18px;
}

.authForm {
  width: 300px;
  margin: 0;
  text-align: left;
  padding: 20px;
}

.authForm h2 {
  text-align: center;
  margin-bottom: 20px;
}

.authForm label {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
}

.authForm input {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}

.authForm button {
  display: block;
  margin: 15px;
  padding: 8px 16px;
  cursor: pointer;
}
